@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800;900&display=swap');

#root {
    background: linear-gradient(to bottom, #e8edf0 0%, #c5d5dc 50%, #8fa8b5 100%);
    font-family: Nunito Sans, Verdana, sans-serif;
    height: 100vh;
    --main-color: #2f6690;
    --secondary-color: #1b3b4e;
    --primary: var(--main-color);
    --primary-hover: #3a7563;
    --primary-focus: #2f6690;
    --secondary: var(--secondary-color);
    --secondary-hover: #3a7563;
    --secondary-focus: #1b3b4e;
    --h1-color: #1b3b4e;
    --h2-color: #1b3b4e;
    --h3-color: #1b3b4e;
    --card-background-color: none;
    --form-element-background-color: white;
    --form-element-border-color: var(--main-color);
    --form-element-color: black;
    --form-element-placeholder-color: black;
    --form-element-active-border-color: var(--secondary-color);
    --form-element-active-background-color: white;
}

#root h1, #root h2, #root h3 {
    text-transform: uppercase;
    margin-bottom: 0px;
}

#root h1 {
    font-family: Fredoka, sans-serif;
    font-size: 3em;
    font-weight: 700;
    text-shadow: none;
}

#root h2 {
    font-family: Fredoka, sans-serif;
    font-size: 2em;
    font-weight: 600;
}

#root h3 {
    font-family: Nunito Sans, Verdana, sans-serif;
    font-size: 1.3em;
    font-weight: 800;
}